@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

body{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: #101630;
  scroll-behavior: smooth;
}


#navlinks:hover{
  content: "";
  color: aqua;
  transition: ease 1s;
  
}
/* #navlinks:hover::after{
  content: "";
    height: 2px;
    width: 30%;
    background: #088178;
    position:absolute;
    bottom: -4px;
    left: 20px;
  
} */

.border-custom {
  border-width: 15px;
  border-color:  aqua;
  border-image:linear-gradient(50deg,aqua ,indigo);
  border-image-slice: 1;
  
}
.hr {
  border-width: 1px;
  border-color:  aqua;
  border-image:linear-gradient(50deg,aqua ,indigo);
  border-image-slice: 1;
  
}

.icon{
 aspect-ratio: 3/2;
  object-fit: contain;
  width: 200px;

}




